# fly.toml app configuration file generated for upai-hub on 2023-06-23T11:38:48+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "upai-hub"
primary_region = "ams"
kill_signal = "SIGINT"
kill_timeout = "5s"
swap_size_mb = 512

[experimental]
  auto_rollback = true

[build]
  dockerfile = "Dockerfile"

[build.args]
  DJANGO_SETTINGS_MODULE = "hub.production"

[env]
  PORT = "8000"
  DJANGO_SETTINGS_MODULE = "hub.production"

[[vm]]
  size = "shared-cpu-2x"

[[services]]
  protocol = "tcp"
  internal_port = 80
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 100
    hard_limit = 75

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"
    restart_limit = 0

[mounts]
  source="upai_hub_data"
  destination="/data"
