{% extends "admin/index.html" %}
{% load i18n %}

{% block nav-sidebar %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar" aria-label="{% translate 'Sidebar' %}">
  <input type="search" id="nav-filter"
         placeholder="{% translate 'Start typing to filter…' %}"
         aria-label="{% translate 'Filter navigation items' %}">
    <h3 class="section">{% translate "Tools" %}</h3>
    <ul class="sidebar-list">
        <li><a href="{% url 'admin:csv_imports' %}">{% translate "CSV import tools" %}</a></li>
    </ul>
  {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>
{% endblock %}

{% block content %}
<div id="content-main" class="app-list">
    <h3 class="section">{% translate "Tools" %}</h3>
    <ul class="sidebar-list">
        <li><a href="{% url 'admin:csv_imports' %}">{% translate "CSV import tools" %}</a></li>
    </ul>
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}
