{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Registration</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>User details</h3>
    {{ user_form.as_p }}
    <h3>Player details</h3>
    {{ player_form.as_p }}
    <h3>UPAI membership details</h3>
    {{ membership_form.as_p }}
    <h3>Vaccination status</h3>
    <div>
      <label for="id_is_vaccinated">Is Vaccinated:</label>
      {{ vaccination_form.is_vaccinated }}
    </div>
    <div id="vaccination-fields-container">
      <label for="id_vaccination_name">Vaccination Name:</label>
      {{ vaccination_form.vaccination_name }}
      <label for="id_vaccination_certificate">Vaccination Certificate:</label>
      {{ vaccination_form.vaccination_certificate }}
    </div>
    <div id="explain-not-vaccinated-container">
      <label for="id_explain_not_vaccinated">Explanation for not being vaccinated:</label>
      {{ vaccination_form.explain_not_vaccinated }}
    </div>
    <!-- Submit button -->
    <input type="submit" value="Submit">
  </form>

  <script src="{% static '/js/registration.js'%}" type="text/javascript"></script>

{% endblock %}
