PATH=/usr/local/bin/python:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
DJANGO_SETTINGS_MODULE=hub.production

10 * * * * cd $HOME/app && bash $HOME/app/cron/hourly.sh >> $HOME/cron.log 2>&1
20 0 * * * cd $HOME/app && bash $HOME/app/cron/daily.sh >> $HOME/cron.log 2>&1
