@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Changing default marker to an arrow, marker animation on open/close */
summary.custom {
  position: relative;
}

summary.custom::marker {
  content: none;
}

details > summary.custom::before,
details > summary.custom::after {
  content: "";
  display: inline-block;

  --size: 15px;
  --marker-rotate-timing: 150ms;

  background-image: url("../assets/down-arrow-small.svg");
  background-size: var(--size) var(--size);
  background-repeat: no-repeat;
  width: var(--size);
  height: var(--size);

  position: absolute;
  right: var(--size);
  top: 50%;
  transform: translateY(-50%);
  transition: all var(--marker-rotate-timing);
}

details[open] > summary.custom::before,
details[open] > summary.custom::after {
  transform: rotate(180deg) translateY(50%);
}

.solid-select-container[data-disabled="true"] {
  pointer-events: none;
}
.solid-select-container {
  position: relative;
}
.solid-select-control[data-disabled="true"] {
  background-color: rgb(243, 244, 246);
  border-color: rgb(209, 213, 219);
}
.solid-select-control {
  border-color: rgb(229, 231, 235);
  border-radius: 0.25rem;
  border-width: 1px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  line-height: 1.5;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.solid-select-control[data-multiple="true"][data-has-value="true"] {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  grid-gap: 0.25rem;
  gap: 0.25rem;
}
.solid-select-control:focus-within {
  outline-color: rgb(209, 213, 219);
}
.solid-select-placeholder {
  color: rgb(156, 163, 175);
  grid-column-start: 1;
  grid-row-start: 1;
}
.solid-select-single-value {
  grid-column-start: 1;
  grid-row-start: 1;
}
.solid-select-multi-value {
  background-color: rgb(243, 244, 246);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  font-size: 85%;
  line-height: 1;
  line-height: inherit;
  padding-left: 4px;
  padding-right: 4px;
}
.solid-select-multi-value-remove {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.solid-select-multi-value-remove:hover {
  text-shadow:
    1px 1px 3px rgb(0 0 0 / 29%),
    2px 4px 7px rgb(73 64 125 / 35%);
}
.solid-select-input {
  background-color: transparent;
  border-width: 0px;
  flex: 1 1 0%;
  margin: 0px;
  padding: 0px;
  caret-color: transparent;
  grid-column-start: 1;
  grid-row-start: 1;
  font: inherit;
  outline: none;
}
.solid-select-input:read-only {
  cursor: default;
}
.solid-select-input[data-multiple="true"] {
  caret-color: currentColor;
}
.solid-select-input[data-is-active="true"] {
  caret-color: currentColor;
}
.solid-select-list {
  background-color: white;
  border-radius: 0.125rem;
  margin-top: 0.25rem;
  max-height: 50vh;
  min-width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow-y: auto;
  padding: 0.5rem;
  position: absolute;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px rgb(0 0 0/0.1),
    0 4px 6px -4px rgb(0 0 0/0.1);
  white-space: nowrap;
  z-index: 1;
}
.solid-select-option:hover {
  background-color: rgb(229, 231, 235);
}
.solid-select-option[data-focused="true"] {
  background-color: rgb(243, 244, 246);
}
.solid-select-option mark {
  background-color: unset;
  color: unset;
  text-decoration-line: underline;
}
.solid-select-option {
  cursor: default;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  user-select: none;
  overflow-wrap: break-word;
  font-size: 0.875em;
  max-width: 100%;
  white-space: initial;
  word-wrap: break-word;
}
.solid-select-option[data-disabled="true"] {
  pointer-events: none;
  color: rgb(156, 163, 175);
}
.solid-select-list-placeholder {
  cursor: default;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  user-select: none;
}

@media only screen and (min-width: 768px) {
  .solid-select-option {
    font-size: 1em;
  }
}
